<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>779865862095-g4o7j6ai08s2hloa3h90v5d1ojml5btk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779865862095-g4o7j6ai08s2hloa3h90v5d1ojml5btk</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Y4w6_FR_XqiegKV0BmnzoIBhr4VCpsM</string>
	<key>GCM_SENDER_ID</key>
	<string>779865862095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutorfrontend</string>
	<key>PROJECT_ID</key>
	<string>prospr-8a50d</string>
	<key>STORAGE_BUCKET</key>
	<string>prospr-8a50d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:779865862095:ios:1b83d4b60becf7dd</string>
	<key>DATABASE_URL</key>
	<string>https://prospr-8a50d.firebaseio.com</string>
</dict>
</plist>